{% extends "base.html" %}

{% block content %}

<div class="container py-5 mt-5">

    <div class="glass-card p-5 text-center">

        <i class="fas fa-check-circle fa-4x text-cyan mb-4"></i>

        <h1>Thank You!</h1>

        <p class="text-muted">

            Your testimonial has been received.

            It will appear publicly after approval.

        </p>

        <a href="{% url 'core:home' %}"
           class="btn-cyber">

            Return Home

        </a>

    </div>

</div>
Site_key: 6532b6adb339dc47fe1198d143187442
Secret_key: cfat_utwqznXo64Nr0Aqu71sq7C3S524KjQjdV5NVwNukce1962d2

{% endblock %}